# ============================
# IGNORAR ARCHIVOS SENSIBLES
# ============================
.env
*.env

# ============================
# IGNORAR MEDIA (NO PRODUCCIÓN)
# ============================
media/
media/*

# ============================
# PYTHON / DJANGO
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ============================
# VENV
# ============================
venv/
.env/
env/

# ============================
# NODE / FRONTEND
# ============================
node_modules/
dist/
build/

# ============================
# MISC
# ============================
.DS_Store
